.controllers {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
}
.user {
  position: relative;
}
.user div {
  position: absolute;
  left: -15px;
  width: 130px;
  font-weight: bold;
  font-size: 10px;
  overflow: hidden;
  font-family: cursive;
}
.userIcon {
  width: 30px;
  height: 30px;
  vertical-align: bottom;
}
.icon {
  margin-left: 25px;
  width: 30px;
  height: 30px;
  stroke-width: 1px;
}

@media screen and (max-width: 1000px) {
  .userIcon,
  .user {
    display: none;
  }
}
