.stepsList {
  background-color: #eee;
  border-bottom: 2px solid #ddd;

  margin: auto;
  padding: 10px;
  list-style: none;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.stepsListItem,
.stepsListItemActive {
  display: flex;

  padding: 5px 20px;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid transparent;
}
.stepsListItem:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}
.stepsListItemActive {
  color: #a90a3f;
}
.stepsListItemActive:hover {
  border-bottom: 1px solid #a90a3f;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .stepsList {
    background-color: #eee;
    border-bottom: 2px solid #ddd;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0;
    justify-content: center;
    gap: 10px;
  }
  .stepsListItem,
  .stepsListItemActive {
    /* display: none; */
    padding: 0;
    width: 45%;
    /* border: 1px solid green; */
  }
}
