.container {
  /* background-color: aqua; */
  flex-grow: 1;
  padding: 20px;
  /* height: 100px;
  width: 100px; */
}

.details {
  border: 1px solid black;
}
.item {
  padding: 10px;
}
.itemLabel {
  /* color: gray; */
}
.itemContent {
  color: darkblue;
}
